Node-RED/colorSensor.json
[
    {
        "id": "7341ca8c.ce9144",
        "type": "tab",
        "label": "MXET",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a47acbe1.f37e08",
        "type": "mqtt in",
        "z": "7341ca8c.ce9144",
        "name": "",
        "topic": "dm/1002/r",
        "qos": "2",
        "datatype": "utf8",
        "broker": "61142ee0.206dd",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "6f8f3fe4.19e45",
                "74694a09.f582d4"
            ]
        ]
    },
    {
        "id": "3ab1c753.f04cb8",
        "type": "mqtt in",
        "z": "7341ca8c.ce9144",
        "name": "",
        "topic": "dm/1002/g",
        "qos": "2",
        "datatype": "utf8",
        "broker": "61142ee0.206dd",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "c8ac0a07.ea1058",
                "74694a09.f582d4"
            ]
        ]
    },
    {
        "id": "a4fa0e74.bda14",
        "type": "mqtt in",
        "z": "7341ca8c.ce9144",
        "name": "",
        "topic": "dm/1002/b",
        "qos": "2",
        "datatype": "utf8",
        "broker": "61142ee0.206dd",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "2c625117.560c4e",
                "74694a09.f582d4"
            ]
        ]
    },
    {
        "id": "74694a09.f582d4",
        "type": "join",
        "z": "7341ca8c.ce9144",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ", ",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "37fdf844.cfcdc8"
            ]
        ]
    },
    {
        "id": "37fdf844.cfcdc8",
        "type": "function",
        "z": "7341ca8c.ce9144",
        "name": "",
        "func": "msg.payload = \"rgb(\" + msg.payload + \")\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "5cbfd571.87383c",
                "a2c9daf0.f51c98"
            ]
        ]
    },
    {
        "id": "a2c9daf0.f51c98",
        "type": "debug",
        "z": "7341ca8c.ce9144",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 240,
        "wires": []
    },
    {
        "id": "6f8f3fe4.19e45",
        "type": "ui_level",
        "z": "7341ca8c.ce9144",
        "group": "63ef2797.519f48",
        "order": 1,
        "width": 4,
        "height": "3",
        "name": "red",
        "label": "red",
        "colorHi": "#ff0000",
        "colorWarn": "#ff4d4d",
        "colorNormal": "#ff8f8f",
        "colorOff": "#ffdbdb",
        "min": "0",
        "max": "255",
        "segWarn": "",
        "segHigh": "",
        "unit": "/255",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "0",
        "animations": "reactive",
        "shape": "3",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "c8ac0a07.ea1058",
        "type": "ui_level",
        "z": "7341ca8c.ce9144",
        "group": "63ef2797.519f48",
        "order": 2,
        "width": 4,
        "height": "3",
        "name": "green",
        "label": "red",
        "colorHi": "#3adb00",
        "colorWarn": "#7cee6d",
        "colorNormal": "#dfffdb",
        "colorOff": "#f0fff3",
        "min": "0",
        "max": "255",
        "segWarn": "",
        "segHigh": "",
        "unit": "/255",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "0",
        "animations": "reactive",
        "shape": "3",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 350,
        "y": 120,
        "wires": []
    },
    {
        "id": "2c625117.560c4e",
        "type": "ui_level",
        "z": "7341ca8c.ce9144",
        "group": "63ef2797.519f48",
        "order": 3,
        "width": 4,
        "height": "3",
        "name": "blue",
        "label": "red",
        "colorHi": "#0011ff",
        "colorWarn": "#4d4fff",
        "colorNormal": "#8f91ff",
        "colorOff": "#dcdbff",
        "min": "0",
        "max": "255",
        "segWarn": "",
        "segHigh": "",
        "unit": "/255",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "0",
        "animations": "reactive",
        "shape": "3",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 350,
        "y": 160,
        "wires": []
    },
    {
        "id": "61142ee0.206dd",
        "type": "mqtt-broker",
        "name": "hiveMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "DPM/TEST",
        "birthQos": "0",
        "birthPayload": "pi_connected",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "63ef2797.519f48",
        "type": "ui_group",
        "name": "MXET400 - Color Sensor",
        "tab": "375e3a50.aa5ff6",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "375e3a50.aa5ff6",
        "type": "ui_tab",
        "name": "MXET IoT",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
