Node-RED/dashboard1.json
[
    {
        "id": "58d5675e.313148",
        "type": "tab",
        "label": "MXET",
        "disabled": false,
        "info": ""
    },
    {
        "id": "703a849d.3ae91c",
        "type": "mqtt in",
        "z": "58d5675e.313148",
        "name": "",
        "topic": "dm/1002/r",
        "qos": "2",
        "datatype": "auto",
        "broker": "61142ee0.206dd",
        "nl": false,
        "rap": false,
        "x": 160,
        "y": 80,
        "wires": [
            [
                "5298109c.5215b",
                "7ae373cd.5f4d9c"
            ]
        ]
    },
    {
        "id": "4b400cee.506034",
        "type": "mqtt in",
        "z": "58d5675e.313148",
        "name": "",
        "topic": "dm/1002/g",
        "qos": "2",
        "datatype": "auto",
        "broker": "61142ee0.206dd",
        "nl": false,
        "rap": false,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "95199eba.61b4f",
                "3b60288e6a5eb25e"
            ]
        ]
    },
    {
        "id": "5c0d0694.5e7d58",
        "type": "mqtt in",
        "z": "58d5675e.313148",
        "name": "",
        "topic": "dm/1002/b",
        "qos": "2",
        "datatype": "auto",
        "broker": "61142ee0.206dd",
        "nl": false,
        "rap": false,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "64808a8b.bbda04",
                "0d2841a5efa726d1"
            ]
        ]
    },
    {
        "id": "5298109c.5215b",
        "type": "ui_level",
        "z": "58d5675e.313148",
        "group": "58636665.acad88",
        "order": 1,
        "width": 4,
        "height": "3",
        "name": "red",
        "label": "red",
        "colorHi": "#ff0000",
        "colorWarn": "#ff4d4d",
        "colorNormal": "#ff8f8f",
        "colorOff": "#ffdbdb",
        "min": "0",
        "max": "255",
        "segWarn": "",
        "segHigh": "",
        "unit": "/255",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "0",
        "animations": "reactive",
        "shape": "3",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "95199eba.61b4f",
        "type": "ui_level",
        "z": "58d5675e.313148",
        "group": "58636665.acad88",
        "order": 2,
        "width": 4,
        "height": "3",
        "name": "green",
        "label": "green",
        "colorHi": "#2ca201",
        "colorWarn": "#49c039",
        "colorNormal": "#8de382",
        "colorOff": "#f0fff3",
        "min": "0",
        "max": "255",
        "segWarn": "",
        "segHigh": "",
        "unit": "/255",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "0",
        "animations": "reactive",
        "shape": "3",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 350,
        "y": 120,
        "wires": []
    },
    {
        "id": "64808a8b.bbda04",
        "type": "ui_level",
        "z": "58d5675e.313148",
        "group": "58636665.acad88",
        "order": 3,
        "width": 4,
        "height": "3",
        "name": "blue",
        "label": "blue",
        "colorHi": "#0011ff",
        "colorWarn": "#4d4fff",
        "colorNormal": "#8f91ff",
        "colorOff": "#dcdbff",
        "min": "0",
        "max": "255",
        "segWarn": "",
        "segHigh": "",
        "unit": "/255",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "0",
        "animations": "reactive",
        "shape": "3",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 350,
        "y": 160,
        "wires": []
    },
    {
        "id": "c127922b.f48c5",
        "type": "ui_colour_picker",
        "z": "58d5675e.313148",
        "name": "",
        "label": "",
        "group": "58636665.acad88",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": false,
        "showPicker": true,
        "showValue": false,
        "showHue": true,
        "showAlpha": false,
        "showLightness": false,
        "square": "true",
        "dynOutput": "false",
        "order": 5,
        "width": 4,
        "height": 4,
        "passthru": true,
        "topic": "",
        "x": 630,
        "y": 240,
        "wires": [
            [
                "e902a844.b23498",
                "e8e73daa.bb169"
            ]
        ]
    },
    {
        "id": "7ae373cd.5f4d9c",
        "type": "join",
        "z": "58d5675e.313148",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ", ",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 330,
        "y": 240,
        "wires": [
            [
                "508cc856.992428"
            ]
        ]
    },
    {
        "id": "e8e73daa.bb169",
        "type": "ui_button",
        "z": "58d5675e.313148",
        "name": "",
        "group": "58636665.acad88",
        "order": 6,
        "width": 4,
        "height": 4,
        "passthru": false,
        "label": "detected color",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.payload}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 820,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e902a844.b23498",
        "type": "debug",
        "z": "58d5675e.313148",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "508cc856.992428",
        "type": "function",
        "z": "58d5675e.313148",
        "name": "",
        "func": "msg.payload = \"rgb(\" + msg.payload + \")\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 240,
        "wires": [
            [
                "c127922b.f48c5",
                "d6d1609d.aaa7f"
            ]
        ]
    },
    {
        "id": "d6d1609d.aaa7f",
        "type": "debug",
        "z": "58d5675e.313148",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "3b60288e6a5eb25e",
        "type": "delay",
        "z": "58d5675e.313148",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 260,
        "y": 300,
        "wires": [
            [
                "7ae373cd.5f4d9c"
            ]
        ]
    },
    {
        "id": "0d2841a5efa726d1",
        "type": "delay",
        "z": "58d5675e.313148",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 250,
        "y": 340,
        "wires": [
            [
                "7ae373cd.5f4d9c"
            ]
        ]
    },
    {
        "id": "61142ee0.206dd",
        "type": "mqtt-broker",
        "name": "hiveMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "DPM/TEST",
        "birthQos": "0",
        "birthPayload": "pi_connected",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "58636665.acad88",
        "type": "ui_group",
        "name": "MXET400",
        "tab": "9a005616.1ff428",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "9a005616.1ff428",
        "type": "ui_tab",
        "name": "MXET IoT",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
